cachetools==4.0.0
certifi==2022.12.7
chardet==3.0.4
Click==7.0
dnspython==1.16.0
Flask==1.1.1
Flask-Sockets==0.2.1
gevent==1.4.0
gevent-websocket==0.10.1
google-api-python-client==1.7.11
google-auth==1.11.2
google-auth-httplib2==0.0.3
greenlet==0.4.15
gunicorn==20.0.4
httplib2==0.17.0
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pykerberos==1.2.1
pymongo==3.10.1
python-snappy==0.5.4
requests==2.23.0
rsa==4.0
six==1.14.0
uritemplate==3.0.1
urllib3==1.25.8
Werkzeug==1.0.0
