<script>

</script>

<script type="text/javascript">
    console.log("OPENED");
    function open(){
      if (window.ws == null){
        var loc = window.location, new_uri;
        new_uri = "ws:";
        new_uri += "//" + loc.host;
        new_uri += loc.pathname + "/echo";
        window.ws = new WebSocket(new_uri);
        }
        window.ws.onopen = function(idea) {
          window.ws.send(document.getElementById("exampleModalLongTitle").innerHTML);
          window.ws.send(document.getElementById("selectedIdeaId").innerHTML)
       };
       window.ws.onclose = function(evt) {
          console.log("CLOSING");
       };
       window.ws.onmessage = function(evt) {
          var obj = JSON.parse(evt.data);
          document.getElementById("test").innerHTML = obj.html;
          document.getElementById("updated").innerHTML = "Updated: " + obj.updated;
       };
    }
    
    function download(title, image_url) {
      url = "/starter"
      const response = fetch(url + `?title=${title}&img_src=${image_url}`, {
        method: 'GET',
      }).then(
        (response) => {
          //  update likes if success
          console.log(response)
        }
      );
      // return await response.json(); // parses JSON response into native JavaScript objects
    }
    
     
     function close(){
      window.ws.send("socket closed");
      window.ws.close();
      window.ws = null;
     }

    $(window).on('shown.bs.modal', function() { 
    $('#exampleModalLong').modal('show');

        open();
    });

    $(window).on('hidden.bs.modal', function() { 
    $('#code').modal('hide');

        close();
        document.getElementById("test").innerHTML = "";
    });
  </script>


<p hidden id="exampleModalLongTitle"></p>
<p hidden id="selectedIdeaId"></p>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="test" class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" type="button" class="btn btn-danger pull-left">Cancel Process</button>
        <p style="padding-top:5px" id="updated" class="pull-right"></p>
      </div>
    </div>
  </div>
</div>